@media (max-width: 600px) {
    body{
        font-size: 12px;
    }
    .max-width-container{
        
        padding-left: 12px;
        padding-right: 12px;

    }
    .home-container{
        padding-top: 60px;
    }

    .home-header{
        padding: 12px 0;
    }

    .home-header .navbar-link{
        display: none;
    }

    .Heading-2 {
        font-size: 21px;
    }
    h1.section-heading-text {
        margin: 0;
    }
    .section-heading-section-heading {
        margin: 0 0 20px 0;
    }
    .home-cards-container{
        display: flex;
        flex-direction: row;
        grid-gap: 10px;
        justify-content: space-evenly;
        
    }
    .category-card-category-card{
        width: 47%;
    }
    .category-card-image{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
} 
