*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 2em;
    display: flex;
    background-color: rgb(194, 194, 194);
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 2em;
}

li {
    
    background-color: rgb(245, 245, 245);
    max-width: 30%;
    max-height: 30%;
    display: flex;
    border: 3px solid black;
    box-shadow: 
    0 0 1em 0 rgba(0, 0, 0, 0.637),
    0 0 1em 0 rgba(0, 0, 0, 0.637) inset;
  
    
} 
img{
    display: block;
    padding: 1em;
    object-fit: contain;
    overflow: hidden;
}
